name: Android Build

on:
  push:
    branches: [ main, master ]
  workflow_dispatch:

jobs:
  build-android:
    name: Build Android APK & AAB
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install Buildozer & Cython
        run: |
          pip install buildozer
          pip install cython==0.29.33

      - name: Install System Dependencies
        run: |
          sudo apt update
          sudo apt install -y build-essential libltdl-dev libffi-dev libssl-dev python3-setuptools libavcodec-dev libavdevice-dev libavfilter-dev libavformat-dev libavutil-dev
          sudo apt install -y swig lld doxygen unzip zip

      - name: Build Android Release (AAB) & Debug (APK)
        run: |
          yes | buildozer android release
          yes | buildozer android debug

      - name: Upload Build Artifacts (APK & AAB)
        uses: actions/upload-artifact@v4
        with:
          name: android-build
          path: bin/*
